main {
  display: flex;
}

.container {
  display: flex;
  background-color: var(--grey-100);
  min-height: 100vh;
  width: 100%;
}

.main-content {
  background-color: var(--grey-100);
}

.link {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}
