#home {
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  max-width: 43.75rem;
}

.story {
  background: var(--solid-white);
  box-shadow: 0 0 0 1px var(--card-secondary-boder);
  margin: 0 auto var(--su-2);
  max-width: 38.5rem;
  min-height: 14.1875rem;
  padding: var(--su-5);
  width: 100%;
}

.story__top {
  margin-bottom: var(--su-2);
}

.story__author-pic {
  position: relative;
  margin-right: var(--su-2);
}

.story__author-link {
  text-decoration: none;
}

.story__meta {
  display: flex;
  align-items: center;
  line-height: var(--lh-tight);
  font-size: var(--fs-s);
}

.sotry__publish-info {
  display: flex;
  flex-direction: column;
}

.story__secondary,
.story__tertiary {
  color: var(--button-ghost-color);
}

.story__tertiary {
  line-height: var(--lh-tight);
  font-size: var(--fs-xs);
}

.story__identation {
  display: flex;
  flex-direction: column;
  height: calc(100% - 2.03125rem);
  padding-left: calc(var(--su-7) + var(--su-2));
}

.article-link {
  text-decoration: none;
  color: unset;
}

.article-link:hover {
  color: var(--link-color);
  text-decoration: none;
}

.story__title {
  font-size: var(--fs-2xl);
  margin-bottom: var(--su-1);
}

.story__tags {
  display: flex;
  gap: 1rem;
}

.story__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-s);
  line-height: var(--lh-tight);
  min-height: 2.6875rem;
  margin-top: auto;
}

.story__comment {
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem 0.75rem 0.5rem;
  align-items: center;
}

.story__comment-link {
  color: unset;
  text-decoration: none;
}

.story__comment-link:hover {
  color: var(--link-color);
  text-decoration: none;
}
