@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,
body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

.title {
  font-size: var(--fs-3xl);
}

.text-white {
  color: var(--solid-white);
}

.lh-tight {
  line-height: var(--lh-tight);
}

.fs-xs {
  font-size: var(--fs-xs);
}

.m\:fs-l {
  font-size: var(--fs-l);
}

.l\:fs-5xl {
  font-size: var(--fs-5xl);
}
